/* Style everything */

* { 
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}





/* Style the topNav */

.topNav {
    overflow: hidden;
    background-color: black;
    position: relative;
}


/* Style the navigation menu */

.navMenu {
    min-height: 70px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}



/* Style the social media icons*/

.fa {
    float: right;
    border-radius: 50%;
    /* display: flex; */
    /* justify-content: left; */
}


/* Style the hamburger div and exit div*/

.hamburger {
    display: block;
    cursor: pointer;
    float: right;
    padding: 0 24px;
}

.exit {
    display: none;
    cursor: pointer;
    float: right;
    padding: 0 24px;
}


/* Style the hamburger lines and exit line*/

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.X {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Hide the links inside the navigation menu (except for logo/home) */
  
.topNav #myLinks {
    display: none;
}
  
  /* Style navigation menu links */

.topNav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}


/* style the name on topNav */

h3 {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


/* Add a grey background color on hover to links */
  
.topNav a:hover {
    background-color: #ddd;
    /* opacity: 0.9; */
    color: black;
}



.navMenu {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style container */

.container {
    color: white;
    height: 100px;
    position: absolute;
}

h1 {
    font-size: 3em;
    padding: 10px;
}

h2 {
    font-size: 30px;
    color: rgb(110, 203, 200);
    padding: 10px 10px 10px 50px;
}



body {
    background-color: rgba(0, 0, 0, 0.829);
}

