/* Style everything */

* { 
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


/* Style the topNav */

.topNav {
    overflow: hidden;
    position: relative;
}


/* Style the navigation menu */

.navMenu {
    width: 100%;
    background-color: black;
}

.navMenu .right {
    display:inline-flex;
    justify-content: flex-end;
    float: right;
    align-items: center;
}

.navMenu .left {
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
}

/* Style the hamburger div and exit div*/

.hamburger {
    display: block;
    cursor: pointer;
    float: right;
    padding: 14px 16px;
}

.exit {
    display: none;
    cursor: pointer;
    float: right;
    padding: 14px 16px;
}

/* Style the social media icons*/

.social .fa {
    float: right;
    border-radius: 50%;
}



/* Style the hamburger lines and exit line*/

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

.X {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(110, 203, 200);
}

/* Hide the links inside the navigation menu (except for logo/home) */
  
.topNav #myLinks {
    display: none;
}
  
  /* Style navigation menu links */

.topNav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}


/* style the name on topNav */

.navMenu h3 {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


/* Add a grey background color on hover to links */
  
.topNav a:hover {
    background-color: #ddd;
    /* opacity: 0.9; */
    color: black;
}


/* Style img */

.me img{
    max-width: 18%;
    border-radius: 50%;
    padding: 15px;
}

.me {
    display: flex;
    justify-content: center;
}

/* Style container */

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
}


.footer {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    height: 6rem;
    color: black;
}


.container .footer .credits h3 {
    font-size: 15px;
}

.container .footer span {
    font-size: 15px;
}




.container h2 {
    font-size: 30px;
    color: rgb(189, 189, 189);
    padding: 10px 10px 10px 50px;
    cursor: pointer;
    border: solid;
}

.container h2:hover {
    background-color: #ddd;
    color: black;
}

.name h2 {
    font-size: 2.5em;
    padding: 10px;
    color: rgb(173, 171, 171);
}

.name h3 {
    font-size: 1em;
    padding: 5px;
    color: black;
}

p {
    padding: 10px 10px 10px 50px;
}

.aboutP {
    display: none;
}

.inter {
    display: none;
}

/* Style the body */

body {
    background-color: rgba(0, 0, 0, 0.829);
}



  /* responsive  */
  /* used css tricks for phone sizing */
  /* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */


  @media only screen 
      and (min-device-width: 375px)
      and (max-device-width: 812px)
      and (-webkit-min-device-pixel-ratio: 3) {
        .hamburger {
            padding: 7px 8px;
          }
          .exit {
              padding: 7px 8px;
          }
          .name h1 {
              font-size: 1.5em;
          }
          .name h2 {
              font-size: 9px;
          }
      }


