/* Style everything */

* { 
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}





/* Style the topNav */

.topNav {
    overflow: hidden;
    position: relative;
}


/* Style the navigation menu */
/* Style the navigation menu */

.navMenu {
    width: 100%;
    background-color: black;
}

.navMenu .right {
    display:inline-flex;
    justify-content: flex-end;
    float: right;
    align-items: center;
}

.navMenu .left {
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
}

/* Style the hamburger div and exit div*/

.hamburger {
    display: block;
    cursor: pointer;
    float: right;
    padding: 14px 16px;
}

.exit {
    display: none;
    cursor: pointer;
    float: right;
    padding: 14px 16px;
}

/* Style the social media icons*/

.social .fa {
    float: right;
    border-radius: 50%;
}





/* Style the hamburger lines and exit line*/

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.X {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(110, 203, 200);
}

/* Hide the links inside the navigation menu (except for logo/home) */
  
.topNav #myLinks {
    display: none;
}
  
  /* Style navigation menu links */

.topNav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}


/* style the name on topNav */

.navMenu h3 {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


/* Add a grey background color on hover to links */
  
.topNav a:hover {
    background-color: #ddd;
    /* opacity: 0.9; */
    color: black;
}



/* Style container */

.container {
    color: white;
    height: 100px;
    position: absolute;
}

h1 {
    font-size: 3em;
    padding: 10px;
}

h2 {
    font-size: 30px;
    color: rgb(110, 203, 200);
    padding: 10px 10px 10px 50px;
}

/* Style the footer */

.footer {
    text-align: center;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.credits h3 {
    font-size: 15px;
}

.footer span {
    font-size: 15px;
}

/* Style the body */

body {
    background-color: rgba(0, 0, 0, 0.829);
}



.typing h2 {
    font-family: 'Source Code Pro', monospace;
    width: auto;
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(110, 203, 200); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;/* Gives that scrolling effect as the typing happens*/
    letter-spacing: .15em; /* Adjust as needed */
    animation:  
      typing 3s steps(20, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
  }
  
  /* The typewriter cursor effect */
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(110, 203, 200); }
  }
